<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.seehope.mapper.CountPeopleMapper">
    <select id="countMinDate" resultType="date">
        select min(time) from countPeople
    </select>

    <select id="countMaxDate" resultType="date">
        select max(time) from countPeople
    </select>

</mapper>
